<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="container">
        <div class="text-center">
            <form th:action="@{/register}" th:object="${user}" method="POST" enctype="utf8" data-toggle="validator">
                <fieldset>
                    <!-- Thymeleaf + Spring Security error display -->
                    <div th:each="msg: ${err_msg}" class="alert alert-danger">
                        <p th:text="${msg}"></p>
                    </div>

                    <div class="form-group">
                        <label for="username">USERNAME</label> <br>
                        <input id="username" name="username" type="username" class="box">
                    </div>
                    <div class="form-group">
                        <label for="email">EMAIL</label><br>
                        <input type="email" id="email" name="email" class="box">
                    </div>
                    <div class="form-group">
                        <label for="password">PASSWORD</label><br>
                        <input id="password" name="password" type="password" class="box">
                    </div>
                    <div class="form-group">
                        <label for="matchingPassword">CONFIRM PASSWORD</label><br>
                        <input id="matchingPassword" name="matchingPassword" type="password" class="box">
                    </div>
                    <button id="submit-button" type="submit" th:text="Submit" class="box">REGISTER</button>
                </fieldset>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>