<div id="battle-cont">
    <div id="entity-cont">
        <div id="monsters">
        </div>
        <div id="players" >
        </div>
    </div>
    <div id="battle-men" class="box">
    </div>
</div>

<script>
    (() => {
        const MENU_ENUM = {STATS:0, INVEN:1, ACTI:2}
        let menuState = MENU_ENUM.STATS
        let menuCont = $("#battle-men")
        let partyData = {}

        let monstersCont = $("#monsters")
        let playersCont = $("#players")

        let animating = false

        function reloadBattle() {

            let finished = partyData.status === "FINISHED";
            let turn = partyData.turn === myUsername
            console.log(finished)

            if (finished) {
                console.log(`BATTLE FINISHED: ${partyData.result.toUpperCase()}!`)
                announce(`BATTLE FINISHED: ${partyData.result.toUpperCase()}!`)
                $("#announce").append($.parseHTML(`<button id="back-menu" class="box">BACK TO MENU</button>`))
                $("#back-menu").off("click").click(() => {
                    send("getMenuFromBattle")
                })
            } else {
                announce(`${turn ? "YOUR" : partyData.turn.toUpperCase() + "'S"} TURN`)
            }

            let monsters = partyData.monsters
            Object.keys(monsters).forEach((v) => {
                let com = $(`#entity-monster-${v}`)
                let dead = monsters[v].state === "DEAD"
                let monsHp = dead ? `DEAD` : `${monsters[v].health}/${monsters[v].maxHealth}`
                if (com.length == 1) {
                    com.children("p").html(`${monsHp}`)
                } else {
                    com = $.parseHTML(`
                    <div id="entity-monster-${v}" class="entity-cont entity-cont-mons">
                        <img src="images/${monsters[v].type}.png" alt="">
                        <p id="entity-monster-hp-${v}">${monsHp}</p>
                    </div>
                `)
                    monstersCont.append(com)
                }
                if (turn && !finished && !dead) {
                    $(`#entity-monster-${v}`).off("click").click((e) => {
                        send(`attack ${v}`)
                        //Hit effect to monster
                        $("#hit").remove()
                        $(`body`).append($.parseHTML(`
                        <div id="hit" style="pointer-events: none; position: fixed; top: ${e.pageY-200}px; left: ${e.pageX-200}px; width: 400px; height: 400px; background: url('images/hit.gif') no-repeat">
                        </div>`))
                    })
                }
            })

            let players = partyData.players
            players.forEach((v) => {
                let dead = v.state === "DEAD"
                let playHp = v.player.name === myUsername ? `You!` : dead ? "DEAD" : `${v.health}/${v.player.maxHealth}`
                let com = $(`#entity-player-${v.player.name}`)
                if (com.length == 1) {
                    com.children("p").html(`${playHp}`)
                } else {
                    com = $.parseHTML(`
                    <div id="entity-player-${v.player.name}" class="entity-cont entity-cont-player">
                        <img src="images/${v.player.playerClass}.png" alt="">
                        <p id="entity-player-hp-${v.player.name}">${playHp}</p>
                    </div>
                `)
                    playersCont.append(com)
                }
            })

            if (!finished) {
                $(`#entity-player-${partyData.turn} img`).css("transform", "translateY(-2em) scaleX(-1)")
            }
        }

        function menu2Stats() {
            send("getMyInfo")
            msgChain.subscribeForStats = (msgObj) => {
                if (msgObj.type === "PLAYER_DATA") {
                    if (myInfo.player == null) return
                    delete msgChain.subscribeForStats
                    let playerInfo = msgObj.content
                    menuCont.empty();
                    menuCont.append($.parseHTML(`
                        <div>
                            <p>HEALTH:</p>
                            <p>${myInfo.health}/${myInfo.player.maxHealth}</p>
                            <br>
                        </div>
                        <div>
                            <p>Potions:</p>
                            ${playerInfo.inventory.map((v) => {
                                return `<p class="party-item-p item-${v.name.replace(" ", "_").toLowerCase()}">${v.name}</p>`
                            }).join("")}
                        </div>
                    `))
                    playerInfo.inventory.map((v) => {
                        $(`.item-${v.name.replace(" ", "_").toLowerCase()}`).off("click").click(() => {
                            send(`useItem ${v.name}`)
                        })
                    })
                }
            }

        }

        function refreshMenu() {
            reloadBattle()
            if (menuState === MENU_ENUM.STATS) menu2Stats()
        }

        msgChain.onMessagePARTY_DATA = (msgObj) => {
            if (msgObj.type === "PARTY_DATA") {
                partyData = msgObj.content
                partyData.players.forEach((v) => {
                    if (v.player.name === myUsername) {
                        myInfo = v
                    }
                })
                refreshMenu()
            }
        }

        msgChain.onMessageBUFF_RESPONSE = (msgObj) => {
            if (msgObj.type === "BUFF_RESPONSE") {
                //turn off player hit to monster
                $("[id^=entity-monster]").off("click")

                let party = msgObj.content.partyInfo
                let attack = msgObj.content.attackInfo

                let playerName = attack.player
                let atkFromMonster = attack.monster

                log(`Player ${playerName} buffed!`)

                let playerElem = $(`#entity-player-${playerName} img`)
                let offset = playerElem.offset()
                let left = offset.left + (playerElem.width()/2)
                let top = offset.top + (playerElem.height()/2)
                let elem = $($.parseHTML(`<div class="dmg-num" style="position: fixed; left: ${left}px; top: ${top}px; color: yellow"><p>BUFF!</p></div>`)[0])
                $("body").append(elem)
                //Damage num animation
                elem.animate({top: `${offset.top - 40}px`}, {duration: 400, easing: "easeOutQuint", done: (p) => {
                        setTimeout(() => { $(p.elem).remove() }, 1000);

                        $(`[id^=entity-player]`).children("img").css("transform", "scaleX(-1)")

                        //Check if no from monster
                        if (atkFromMonster == null) {
                            partyData = party
                            send("getParty")
                            return
                        }

                        mons = $(`#entity-monster-${atkFromMonster.from.id}`)
                        mons.children("img").css("transform", "translateY(-2em)");

                        //Damage num from monster, Wait for damage num from player finished (800ms)
                        setTimeout(() => {

                            atkFromMonster.to.forEach((v, i) => {

                                log(`${atkFromMonster.from.name} attacked ${v.player.name}. Dealt ${atkFromMonster.attacks[i].damage} damage!`)

                                let playerElem = $(`#entity-player-${v.player.name} img`)
                                let offset = playerElem.offset()
                                let left = offset.left + (playerElem.width()/2)
                                let top = offset.top + (playerElem.height()/2)
                                $("#hit").remove()
                                $(`body`).append($.parseHTML(`
                                        <div id="hit" style="pointer-events: none; position: fixed; left: ${left-200}px; top: ${top-200}px; width: 400px; height: 400px; background: url('images/hit.gif') no-repeat">
                                        </div>`))
                                elem = $($.parseHTML(`<div class="dmg-num" style="position: fixed; left: ${left}px; top: ${top}px; color: yellow"><p>-${atkFromMonster.attacks[i].damage}</p></div>`)[0])
                                $("body").append(elem)
                                elem.animate({top: `${offset.top - 40}px`}, {duration: 400, easing: "easeOutQuint", done: (p) => {
                                        mons.children("img").css("transform", "");
                                        setTimeout(() => {
                                            $(p.elem).remove()
                                            $("#hit").remove()
                                        }, 1000);
                                        partyData = party
                                        send("getParty")
                                    }})
                            })
                        }, 800)
                    }})
            }
        }

        msgChain.onMessageATTACK_RESPONSE = (msgObj) => {
            if (msgObj.type === "ATTACK_RESPONSE") {
                //turn off player hit to monster
                $("[id^=entity-monster]").off("click")

                let party = msgObj.content.partyInfo
                attack = msgObj.content.attackInfo

                let atkFromPlayer = attack.player
                let atkFromMonster = attack.monster

                //Damage num from player
                atkFromPlayer.to.forEach((v, i) => {

                    log(`Player ${atkFromPlayer.from.player.name} attacked ${v.name}. Dealt ${atkFromPlayer.attacks[i].damage} damage!`)

                    let mons = $(`#entity-monster-${v.id}`)
                    let img = $(mons.children("img"))
                    let imgPos = img.offset()
                    let leftPos = imgPos.left + (img.width()/2)
                    let topPos = imgPos.top + (imgPos.top/2)
                    elem = $($.parseHTML(`<div class="dmg-num" style="position: fixed; left: ${leftPos}px; top: ${topPos}px; color: #ffff00"><p>-${atkFromPlayer.attacks[i].damage}</p></div>`)[0])
                    $("body").append(elem)
                    //Damage num animation
                    elem.animate({top: `${imgPos.top - 20}px`}, {duration: 400, easing: "easeOutQuint", done: (p) => {
                            setTimeout(() => { $(p.elem).remove() }, 1000);

                            $(`[id^=entity-player]`).children("img").css("transform", "scaleX(-1)")

                            //Check if no from monster
                            if (atkFromMonster == null) {
                                partyData = party
                                send("getParty")
                                return
                            }

                            mons = $(`#entity-monster-${atkFromMonster.from.id}`)
                            mons.children("img").css("transform", "translateY(-2em)");

                            //Damage num from monster, Wait for damage num from player finished (800ms)
                            setTimeout(() => {

                                atkFromMonster.to.forEach((v, i) => {

                                    log(`${atkFromMonster.from.name} attacked ${v.player.name}. Dealt ${atkFromMonster.attacks[i].damage} damage!`)

                                    let playerElem = $(`#entity-player-${v.player.name} img`)
                                    let offset = playerElem.offset()
                                    let left = offset.left + (playerElem.width()/2)
                                    let top = offset.top + (playerElem.height()/2)
                                    $("#hit").remove()
                                    $(`body`).append($.parseHTML(`
                                        <div id="hit" style="pointer-events: none; position: fixed; left: ${left-200}px; top: ${top-200}px; width: 400px; height: 400px; background: url('images/hit.gif') no-repeat">
                                        </div>`))
                                    elem = $($.parseHTML(`<div class="dmg-num" style="position: fixed; left: ${left}px; top: ${top}px; color: yellow"><p>-${atkFromMonster.attacks[i].damage}</p></div>`)[0])
                                    $("body").append(elem)
                                    elem.animate({top: `${offset.top - 40}px`}, {duration: 400, easing: "easeOutQuint", done: (p) => {
                                            mons.children("img").css("transform", "");
                                            setTimeout(() => {
                                                $(p.elem).remove()
                                                $("#hit").remove()
                                            }, 1000);
                                            partyData = party
                                            send("getParty")
                                        }})
                                })
                            }, 800)
                        }})
                })
            }
        }

        send("getParty")
    })()
</script>