<div>
    <div class="row text-center mb-5">
        <div class="col align-self-center">
            <h1>
                CHOOSE YOUR CLASS
            </h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm">
            <i><button id="knight" class="btn btn-dark" style="background-color: black;border: 3px solid white;"><h4>KNIGHT</h4></button></i>
        </div>
        <div class="col-sm">
            <i><button id="rogue" class="btn btn-dark" style="background-color: black;border: 3px solid white;"><h4>ROGUE</h4></button></i>
        </div>
        <div class="col-sm">
            <i><button id="mage" class="btn btn-dark" style="background-color: black;border: 3px solid white;"><h4>MAGE</h4></button></i>
        </div>
    </div>
</div>

<script>
    $("#knight").click(() => {
        send("setClass KNIGHT")
    })
    $("#rogue").click(() => {
        send("setClass ROGUE")
    })
    $("#mage").click(() => {
        send("setClass MAGE")
    })
</script>