<div class="d-flex flex-row h-100 w-100">
    <div class="box menu-left" style="">
        <h5 id="name" class="mb-4"></h5>
        <p id="men-inv">Inventory</p>
        <p id="men-stats">Stats</p>
        <p id="men-party">Party</p>
    </div>
    <div id="box-menu-right" class="box menu-right" style=""></div>
</div>


<script>
    (() => {
        const boxMenuRight = $("#box-menu-right")
        const statsLst = ["attackDamage", "defense", "agility", "maxHealth", "maxMana", "healthRegen", "manaRegen"]
        const MENU_STATE_ENUM = {INVEN: 0, STATS: 1, PARTY: 2, PARTY_INFO: 3}
        let currentParty = {}
        let player = {};
        let partyLst = [];
        let updating = true;
        let menuState = MENU_STATE_ENUM.INVEN

        function menu2Inven() {
            boxMenuRight.empty()
            let arm_weap = `
                    <div class="menu-right-armor-weapon">
                        <div class="menu-right-armor">
                            <p>Armor:</p>
                            <p>${player.armor == null ? "none" : player.armor.name}</p>
                        </div>
                        <div class="menu-right-weapon">
                            <p>Weapon:</p>
                            <p>${player.weapon == null ? "none" : player.weapon.name}</p>
                        </div>
                    </div>`
            let items = `
                    <div class="menu-right-items">
                        <p>Backpack: </p>
                        ${player.inventory.map((val) => {return `<p>${val}</p>`}).join("")}
                        <div class="menu-right-items-nav">
                            <button class="box">prev</button>
                            <button class="box">next</button>
                        </div>
                    </div>`
            boxMenuRight.append($.parseHTML(arm_weap))
            boxMenuRight.append($.parseHTML(items))
        }

        function n(a) {
            return a == null ? 0 : a
        }

        function menu2Stat() {
            boxMenuRight.empty()
            let exp_hp = `
                <div id="exp" class="stats stats-exp">
                    <div class="stats-item">
                        <p>EXP</p>
                        <p>${n(player.exp)}</p>
                    </div>
                </div>`
            let stats = statsLst.map((val) => {
                return `
                <div id="${val}" class="stats stats-stats">
                    <div class="stats-item">
                        <p>${val}</p>
                        <p>${n(player[val])}</p>
                    </div>
                    <div id="up-${val}" class="stats-up">
                        <p id="up-${val}">+</p>
                        <p>(50 exp)</p>
                    </div>
                </div>
                `}).join("")
            boxMenuRight.append($.parseHTML(exp_hp))
            boxMenuRight.append($.parseHTML(stats))
            statsLst.map((val) => {
                $(`#up-${val}`).off("click").click(() => {
                    send(`upStat ${val}`)
                })
            })
        }

        function menu2PartyList() {
            boxMenuRight.empty()
            boxMenuRight.append($.parseHTML(`
                <div id="party-list-cont" class="px-3 pb-3" style="overflow-y: auto; position: relative">
                    <div class="w-100 p-2 d-flex flex-row justify-content-between" style="position: sticky; position: -webkit-sticky; top: 0; background-color: black; max-height: 5em">
                        <h4 class="my-4" >Parties</h4>
                        <button id="create-party" class="box p-2">Create party</button>
                    </div>
                    ${partyLst.map((partyObj) => {
                        return `<p class="party-item-p">${partyObj.name}</p>`
                    }).join("")}
                </div>
                `))
            $(".party-item-p").click((e) => {
                let name = $(e.target).html()
                send(`getParty ${name}`)
                msgChain["onMessagePARTY_DATA"] = (msgObj) => {
                    if (msgObj.type === "PARTY_DATA") {
                        delete msgChain.onMessagePARTY_DATA
                        menuState = MENU_STATE_ENUM.PARTY_INFO
                        currentParty = msgObj.content
                        refreshMenu()
                    }
                }
            })
            $("#create-party").click(() => { menu2CreateParty() })
        }

        function menu2CreateParty() {
            boxMenuRight.empty()
            boxMenuRight.append($.parseHTML(`
            <div class="d-flex flex-column align-items-start">
                <h4 class="my-4" >Create Party</h4>
                <label for="party-name" class="mt-3">Party Name</label>
                <input id="party-name" type="text" class="box">
                <br>
                <div class="d-flex w-100 flex-row justify-content-between">
                    <button id="submit-party" class="box">Create</button>
                    <button id="cancel-party" class="box">Cancel</button>
                </div>
            </div>
        `))
            $("#cancel-party").click(() => {
                refreshMenu()
                $("#men-party").click()
            })
            $("#submit-party").click(() => {
                let name = $("#party-name").val()
                if (name.trim() === "") log("Name cannot be empty!")
                else {
                    send(`createParty ${name}`)
                    msgChain.onMessagePARTY_DATA = (msgObj) => {
                        if (msgObj.type === "PARTY_DATA") {
                            log(`Party ${name} successfully created!`)
                            $("#men-party").click()
                        }
                    }
                }
            })
        }

        function menu2PartyInfo() {
            if (msgChain.subscribeParty == null) {
                msgChain.subscribeParty = (msgObj) => {
                    if (msgObj.type === "PARTY_DATA") {
                        currentParty = msgObj.content;
                        refreshMenu();
                    }
                }
            }
            let partyObj = currentParty
            members = []
            partyObj.players.map((player) => {
                if (player.player.name !== partyObj.partyLeader.player.name) {
                    members.push(player)
                }
            })
            boxMenuRight.empty()
            boxMenuRight.append($.parseHTML(`
                <div class="p-4 d-flex flex-column h-100">
                    <div class="d-flex flex-row justify-content-between">
                        <h2>${partyObj.partyName}</h2>
                        ${partyObj.partyLeader.player.name === player.name ? `<button class="box pInfoStart">Start!</button>` : ``}
                    </div>
                    <p style="text-transform: capitalize">${partyObj.status}</p>
                    <h4 class="mt-4 mb-3">Members (${partyObj.players.length}/4):</h4>
                    <p>- ${partyObj.partyLeader.player.name} (Leader)</p>
                    ${members.map((player) => {return `<p>- ${player.player.name}</p>`}).join("")}
                    <div class="menu-right-items-nav">
                        <button class="box pInfoJoin">join</button>
                        ${members.find((e) => e.player.name === player.name) != null ? `<button class="box pInfoLeave">leave</button>` : ``}
                        ${partyObj.partyLeader.player.name === player.name ? `<button class="box pInfoDisband">disband</button>`: ``}
                        <button class="box pInfoBack">back</button>
                    </div>
                </div>
                `))
            $(".pInfoBack").click(() => {refreshMenu()})
            $(".pInfoJoin").click(() => {send(`joinParty ${partyObj.partyName}`)})
            $(".pInfoLeave").click(() => {
                send(`leaveParty`)
                send(`getParty ${partyObj.partyName}`)
            })
            $(".pInfoDisband").click(() => {
                send(`disbandParty ${partyObj.partyName}`)
                $("#men-party").click()
            })
            $(".pInfoStart").click(() => {send(`startBattle`)})
        }

        function refreshMenu() {
            if (menuState === MENU_STATE_ENUM.STATS) menu2Stat();
            else if (menuState === MENU_STATE_ENUM.PARTY) menu2PartyList();
            else if (menuState === MENU_STATE_ENUM.PARTY_INFO) menu2PartyInfo();
            else menu2Inven()
            $("#name").html(player.name)
        }

        function fetchPlayerInfo() {
            updating = true
            send("getMyInfo")
        }

        fetchPlayerInfo()
        $("#men-inv").click(() => {
            delete msgChain.subscribeParty
            menuState = MENU_STATE_ENUM.INVEN
            refreshMenu()
        })
        $("#men-stats").click(() => {
            delete msgChain.subscribeParty
            menuState = MENU_STATE_ENUM.STATS
            refreshMenu()
        })
        $("#men-party").click(() => {
            delete msgChain.subscribeParty
            send("getParties")
            msgChain["onMessagePARTY_LIST"] = (msgObj) => {
                if (msgObj.type === "PARTY_LIST") {
                    partyLst = msgObj.content
                    menuState = MENU_STATE_ENUM.PARTY
                    delete msgChain.onMessagePARTY_LIST
                    refreshMenu()
                }
            }
        })
        msgChain["onMessagePLAYER_DATA"] = (msgObj) => {
            if (msgObj.type === "PLAYER_DATA") {
                player = msgObj.content
                refreshMenu()
                updating = false
            }
        }
    })()
</script>