::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    border: 2px solid white ;
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background-color: white;
}
body {
    font-family: 'Press Start 2P';
    background-color: black;
    color: white;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
div{
    position: relative;
}
.box {
    background-color: black;
    border: 3px solid white;
    color: white;
}
.container {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    height: 75%;
}

li::before {
    content: "<";
    position: absolute;
    left: 0;
}

.menu-container {
    align-items: stretch;
    height: 75%;
    max-width: 60em;
}
.menu-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1em;
    padding: 2em;
    flex: 1;
    height: fit-content;
    max-width: 30%;
}
.menu-left h5 {
    overflow-wrap: anywhere;
}
.menu-right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 1em;
    padding: 1em;
    flex: 3;
}
.menu-right-armor-weapon {
    display: flex;
    flex: 1;
    justify-items: stretch;
    flex-direction: row;
    height: 15em;
}
.menu-right-armor {
    display: flex;
    flex: 1;
    padding: 1em;
    flex-direction: column;
}
.menu-right-weapon {
    display: flex;
    flex: 1;
    padding: 1em;
    flex-direction: column;
}
.menu-right-items {
    display: flex;
    flex: 4;
    padding: 1em;
    flex-direction: column;
}
.menu-right-items-nav {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
}
.stats {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.stats p {
    margin: 0;
}
.stats-item {
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
.stats-up {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
}
#party-list-cont p {
    margin-left: 1em;
}
#log-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4em;
}
#game-log {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin-top: auto;
    overflow-y: auto;
}
#game-log p {
    font-family: 'VT323';
    margin: 0;
}
#battle-cont {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
}
#entity-cont {
    width: 80%;
    display: flex;
    flex-direction: column;
}
#battle-men {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 2em;
}
#monsters {
    height: 50%;
    padding-right: 5em;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#players {
    height: 50%;
    padding-left: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#battle-cont img {
    object-fit: cover;
    width: auto;
    height: 70%;
}
#players img {
    transform: scaleX(-1);
}
.entity-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.entity-cont-mons {
    height: 100%;
}
.entity-cont-player {
    height: 70%;
}
.entity-cont img {
    transition: all 0.8s cubic-bezier(0,.84,0,.99);
}
.atk-select {
    cursor: grab;
}
.dmg-num {
    -webkit-text-stroke: 1px black;
}