<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's battle!!!</title>
    <link href='https://fonts.googleapis.com/css?family=Press Start 2P' rel='stylesheet'>
    <link rel="stylesheet" href="css/battle.css">
</head>



<body>
    <div class="container">
        <div>
            <div class="text-center">
                <img src="images/monster.png" alt="">
            </div>
            <div class="card mb-2" style="background-color: black;overflow-y: scroll;">
                <div class="card-body" style="color: yellow;height: 300px;">
                    <ul class="pl-3 text-left" style="list-style: none; ">
                        <div th:each="...">
                            <li th:text="..."></li>
                        </div>
                    </ul>
                </div>

            </div>
            <div class="row text-center p-2" style="border: 3px solid white;">
                <div class="col-sm">
                    <i th:href="..."><button class="btn btn-dark" style="background-color: black;border: 3px solid yellow;"><h4>ATTACK</h4></button></i>
                </div>
                <div class="col-sm">
                    <i th:href="..."><button class="btn btn-dark" style="background-color: black;border: 3px solid yellow;"><h4>CONSUME</h4></button></i>
                </div>
                <div class="col-sm">
                    <i th:href="..."><button class="btn btn-dark" style="background-color: black;border: 3px solid yellow;"><h4>ESCAPE</h4></button></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>